<section id="my_canvas_size" class="w-full mx-auto">
    <h2>Canvas Sizes</h2>
    <div
        class="container flex flex-wrap justify-around items-center"
    >
        <div class="canvas_size--40_60">
            <span class="">40:60</span>
        </div>

        <div class="canvas_size--1_1">
            <span class="">1:1</span>
        </div>
        <div class="canvas_size--4_3">
            <span class="">4:3</span>
        </div>

        <div class="canvas_size--16_9">
            <span class="">16:9</span>
        </div>
    </div>
    <div class="canvas_size--masthead">
        <span class="lg:text-xl">16:9</span>
        <span class="text-xl lg:text-6xl 2xl:text-xl">2:1</span>
        <span class="text-xl 2xl:text-6xl">3:1</span>
    </div>
</section>
<style>
    .canvas_size--1_1 {
        @apply max-w-md bg-green-500 aspect-[1/1] inline-flex w-full items-center justify-center;
    }
    .canvas_size--4_3 {
        @apply max-w-md bg-purple-500 aspect-[4/3] inline-flex w-full items-center justify-center;
    }
    .canvas_size--16_9 {
        @apply max-w-md bg-blue-500 aspect-[16/9] inline-flex w-full items-center justify-center;
    }
    .canvas_size--40_60 {
        @apply max-w-md bg-red-500 aspect-[40/60] inline-flex w-full items-center justify-center;
    }
    .canvas_size--masthead {
        @apply max-w-full bg-yellow-500 aspect-[16/9] lg:aspect-[2/1] 2xl:aspect-[3/1] inline-flex w-full flex-col items-center justify-center;
    }
    span {
        @apply text-white font-bold text-6xl;
    }
</style>
