<section class="relative aspect-video">
    <picture class="w-full">
        <img
            class="w-full"
            src="https://images.pexels.com/photos/11785073/pexels-photo-11785073.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);"
            alt=""
        />
    </picture>
    <div
        class="border-pink-400 border-dotted aspect-square absolute z-30 inset-0 h-full m-auto"
    >
    </div>
    <div
        class="border-lime-400 border-dotted aspect-[4/3] absolute z-30 inset-0 h-full m-auto"
    >
    </div>
    <div
        class="border-red-400 border-dotted aspect-[2/1] absolute z-30 inset-0 w-full m-auto"
    >
    </div>
    <div
        class="border-blue-400 border-dotted aspect-[3/1] absolute z-30 inset-0 w-full m-auto"
    >
    </div>
</section>

<style>
    .masthead__landscape {
        @apply max-w-full aspect-[16/9] lg:aspect-[2/1] 2xl:aspect-[3/1] inline-flex w-full flex-col items-center justify-center relative;
    }
    .masthead__container {
        width: 100%;
        position: relative;

        aspect-ratio: 16/9;
    }

    .masthead__center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .masthead__dark {
        color: #fff;
    }

    .masthead__bg {
        position: absolute;
        width: 100%;
        min-height: 100%;
        top: 0;
        left: 0;
        background-size: cover;
        background-position: center;
        z-index: -1;
        overflow: hidden;
    }
</style>
