<!-- 

    grid - 4 columns with different config for each as sample
    
 -->

<div class="tw-overflow-hidden" style="background-color: #210002;">
    <pre><a href="http://www.firewatchgame.com/">http://www.firewatchgame.com/</a></pre>
    <section id="canvas" class="tw-relative tw-overflow-hidden">
        <img
            class="tw-absolute"
            src="/placeholder/parallax_effects/parallax0.png"
        />
        <img
            class="tw-absolute"
            src="/placeholder/parallax_effects/parallax1.png"
        />
        <img
            class="tw-absolute"
            src="/placeholder/parallax_effects/parallax2.png"
        />
        <img
            class="tw-absolute"
            src="/placeholder/parallax_effects/parallax3.png"
        />
        <img
            class="tw-absolute"
            src="/placeholder/parallax_effects/parallax4.png"
        />
        <img
            class="tw-absolute"
            src="/placeholder/parallax_effects/parallax5.png"
        />
        <img
            class="tw-absolute"
            src="/placeholder/parallax_effects/parallax6.png"
        />
        <img
            class="tw-absolute"
            src="/placeholder/parallax_effects/parallax7.png"
        />
        <img
            class="tw-absolute"
            src="/placeholder/parallax_effects/parallax8.png"
        />
    </section>

    <section class="tw-container tw-max-w-2xl tw-mx-auto tw-text-white tw-px-4">
        <h1>Welcome to FireWatch</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
            animi sequi voluptas, dignissimos distinctio, esse molestias fuga
            alias assumenda deleniti ex sint repudiandae optio ad ut ab
            sapiente? Aspernatur, dolorem.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
            animi sequi voluptas, dignissimos distinctio, esse molestias fuga
            alias assumenda deleniti ex sint repudiandae optio ad ut ab
            sapiente? Aspernatur, dolorem. Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Voluptatem sit consectetur, optio,
            assumenda sapiente possimus corrupti maxime ea atque molestiae
            pariatur beatae, autem architecto porro labore fuga! Eaque delectus
            placeat ipsa repellendus velit distinctio, eos nostrum temporibus
            perspiciatis nobis, at accusamus commodi tempore blanditiis rerum
            dolor assumenda in corporis odit.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
            animi sequi voluptas, dignissimos distinctio, esse molestias fuga
            alias assumenda deleniti ex sint repudiandae optio ad ut ab
            sapiente? Aspernatur, dolorem.
        </p>
        <h2>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore
            aliquam ad minus consequuntur.
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
            animi sequi voluptas, dignissimos distinctio, esse molestias fuga
            alias assumenda deleniti ex sint repudiandae optio ad ut ab
            sapiente? Aspernatur, dolorem.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
            animi sequi voluptas, dignissimos distinctio, esse molestias fuga
            alias assumenda deleniti ex sint repudiandae optio ad ut ab
            sapiente? Aspernatur, dolorem. Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Voluptatem sit consectetur, optio,
            assumenda sapiente possimus corrupti maxime ea atque molestiae
            pariatur beatae, autem architecto porro labore fuga! Eaque delectus
            placeat ipsa repellendus velit distinctio, eos nostrum temporibus
            perspiciatis nobis, at accusamus commodi tempore blanditiis rerum
            dolor assumenda in corporis odit.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
            animi sequi voluptas, dignissimos distinctio, esse molestias fuga
            alias assumenda deleniti ex sint repudiandae optio ad ut ab
            sapiente? Aspernatur, dolorem.
        </p>
        <h2>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore
            aliquam ad minus consequuntur.
        </h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
            animi sequi voluptas, dignissimos distinctio, esse molestias fuga
            alias assumenda deleniti ex sint repudiandae optio ad ut ab
            sapiente? Aspernatur, dolorem.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
            animi sequi voluptas, dignissimos distinctio, esse molestias fuga
            alias assumenda deleniti ex sint repudiandae optio ad ut ab
            sapiente? Aspernatur, dolorem. Lorem ipsum dolor sit amet
            consectetur, adipisicing elit. Voluptatem sit consectetur, optio,
            assumenda sapiente possimus corrupti maxime ea atque molestiae
            pariatur beatae, autem architecto porro labore fuga! Eaque delectus
            placeat ipsa repellendus velit distinctio, eos nostrum temporibus
            perspiciatis nobis, at accusamus commodi tempore blanditiis rerum
            dolor assumenda in corporis odit.
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit
            animi sequi voluptas, dignissimos distinctio, esse molestias fuga
            alias assumenda deleniti ex sint repudiandae optio ad ut ab
            sapiente? Aspernatur, dolorem.
        </p>
    </section>
</div>

<div class="keyart" id="parallax">
    <div id="keyart-0" data-speed="2"></div>
    <!-- 00.0 -->
    <div id="keyart-1" data-speed="5"></div>
    <!-- 12.5 -->
    <div id="keyart-2" data-speed="11"></div>
    <!-- 25.0 -->
    <div id="keyart-3" data-speed="16"></div>
    <!-- 37.5 -->
    <div id="keyart-4" data-speed="26"></div>
    <!-- 50.0 -->
    <div id="keyart-5" data-speed="36"></div>
    <!-- 62.5 -->
    <div id="keyart-6" data-speed="49"></div>
    <!-- 75.0 -->
    <div class="keyart_layer" id="keyart-scrim"></div>
    <div id="keyart-7" data-speed="69"></div>
    <!-- 87.5 -->
    <div class="keyart_layer" id="keyart-8" data-speed="100"></div>
    <!-- 100. -->
</div>

<style>
    * {
        box-sizing: border-box;

    }
    body {
        margin: 0;
        padding: 0;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    section#canvas {
        min-height: 80vh;

        scale: 2.6;
        transform-origin: top;

        overflow: hidden;
    }
</style>
