---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <!-- 221127-overflowing_text -->
  <section id="overflowing_text">
    <h2>Overflowing Text</h2>

    <div
      class="tw-container tw-flex tw-flex-wrap tw-justify-center tw-items-center tw-gap-4"
    >
      <section
        id="canvas-resizeable"
        class="tw-aspect-square tw-w-[512px] tw-shadow tw-bg-slate-100"
      >
        <div
          class="tw-resize tw-overflow-hidden tw-bg-white tw-w-full tw-h-full tw-max-w-full tw-max-h-full"
          style="background-image: linear-gradient(-45deg, gray 1rem, transparent 1rem)"
        >
          <div class="overflowing_text">CSS IS AWESOME</div>
          <div class="overflowing_text">
            <p>CSS IS AWESOME</p>
          </div>
        </div>
      </section>

      <article>
        <pre>
<b>
<a href="https://www.youtube.com/watch?v=6Nv0weHy7t0">4 ways to deal with overflowing text</a>
<a href="https://www.youtube.com/watch?v=lvKK2fs6h4I">scrollbar / Create custom scrollbars using CSS</a>
</b>

<code>
    .overflowing_text {'{'}
        overflow-wrap: break-word
        width: min-content;
        width: fit-content;
      {'}'}
      .overflowing_text:has(p) {'{'}
        width: 80%;
        container-type: inline-size;
      {'}'}
      .overflowing_text:has(p)>p {'{'}
        font-size: 20cqi;
        font-size: clamp(1rem, 20cqi, 5rem);
        margin: 0;
      {'}'}
</code>
        </pre>
      </article>
    </div>
  </section>

  <style lang="scss">
    .overflowing_text {
      border: 1px solid #333;
      padding: 1rem;
      font-size: 6rem;
      line-height: 1;

      width: 260px;
      width: min-content;
      width: fit-content;
    }

    .overflowing_text:has(p) {
      border: 5px solid #333;
      background-color: red;
      color: #fff;

      width: 80%;
      container-type: inline-size;
    }

    .overflowing_text:has(p) > p {
      font-size: 20cqi;
      font-size: clamp(1rem, 20cqi, 5rem);
      margin: 0;
    }
  </style>
</Layout>
