<main class="tw-px-4 tw-grid tw-gap-y-4">
  <article class="entry">
    <header>
      <h2>TITLE HEADING</h2>
      <p>
        <b>230202-BlogMockup</b> - Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Iure omnis debitis architecto sint?
      </p>
      <date>Dec 7, 2017</date>
    </header>
    <main>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi
        laudantium dignissimos nisi ad culpa eum vel, voluptates autem, quos
        laborum distinctio. Amet veniam aspernatur aliquid, quae optio nihil
        placeat cumque. Unde nesciunt est nisi sit. Cupiditate inventore ullam
        ipsum necessitatibus nulla tenetur quia porro voluptatem labore qui
        ratione quod a consequatur, laborum beatae vel fugit magni provident
        nemo recusandae vitae cumque impedit! Odio, sit perferendis nulla
        commodi quaerat alias nesciunt aut, sequi itaque porro iste animi
        explicabo delectus non corporis consequuntur iusto soluta molestias,
        labore officia ducimus. Dolores vitae quia est vero animi illum saepe
        rerum iste sapiente. Exercitationem, aliquid quis perferendis assumenda,
        unde accusantium sit, enim animi consequatur velit non libero facilis
        expedita sequi facere illo saepe necessitatibus maiores?
      </p>
    </main>
    <footer>
      <img
        src="https://via.placeholder.com/512x512?text=placeholder"
        alt=""
        width="300"
      />
    </footer>
  </article>
  <article class="entry">
    <header>
      <h2>TITLE HEADING</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure omnis
        debitis architecto sint?
      </p>
      <date>Dec 7, 2017</date>
    </header>
    <main>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi
        laudantium dignissimos nisi ad culpa eum vel, voluptates autem, quos
        laborum distinctio. Amet veniam aspernatur aliquid, quae optio nihil
        placeat cumque. Unde nesciunt est nisi sit. Cupiditate inventore ullam
        ipsum necessitatibus nulla tenetur quia porro voluptatem labore qui
        ratione quod a consequatur, laborum beatae vel fugit magni provident
        nemo recusandae vitae cumque impedit! Odio, sit perferendis nulla
        commodi quaerat alias nesciunt aut, sequi itaque porro iste animi
        explicabo delectus non corporis consequuntur iusto soluta molestias,
        labore officia ducimus. Dolores vitae quia est vero animi illum saepe
        rerum iste sapiente. Exercitationem, aliquid quis perferendis assumenda,
        unde accusantium sit, enim animi consequatur velit non libero facilis
        expedita sequi facere illo saepe necessitatibus maiores?
      </p>
    </main>
    <footer>
      <img
        src="https://via.placeholder.com/512x512?text=placeholder"
        alt=""
        width="300"
      />
    </footer>
  </article>
</main>

<style lang="scss">
  .entry {
    @apply tw-grid tw-border-solid tw-border-0 tw-border-b-4 tw-border-slate-400 tw-pb-4 tw-gap-x-8 tw-max-w-7xl tw-mx-auto;
    grid-template-columns: auto;

    @screen md {
      grid-template-columns: 1fr 3fr auto;

      header {
        @apply tw-text-end;
      }
    }
  }
</style>
