  <pre>
- [ ] 230308 - found out that container-row-cols are dependent on viewport size instead of resizing due to it own parent's size-constrains; try resize #limit_paragraph_line to understand
  </pre>
  <section id="css-empty-selector">
    <h3>CSS :empty to hide elements instead of JS</h3>
    <code>
      <pre>
                .role:empty {'{'} 
                    display: none;
                {'}'}
                </pre>
    </code>
  </section>

  <!-- flex-basis -->
  <section id="flex_basis_practice" class="px-5 __resizeable">
    <h2>how-to flex-basis</h2>
    <a href="https://www.youtube.com/watch?v=jx4FtPlDXJg">
      The thing people get wrong about flex-basis
    </a>
    <div class="container">
      <div class="row">
        <div class="flex-item">
          .flex-item (flex-basis: 200px; min-height: 100px)
        </div>
        <div class="flex-item">
          .flex-item (flex-basis: 200px; min-height: 100px)
        </div>
      </div>
      <div class="row flex-column">
        <div class="flex-item">flex-column > .flex-item</div>
        <div class="flex-item">flex-column > .flex-item</div>
      </div>
      <div class="row">
        <div class="flex-item flex-grow-1">flex-item flex-grow-1</div>
        <div class="flex-item flex-shrink-1">flex-item flex-shrink-1</div>
      </div>
    </div>
  </section>

  <!-- 221114-css_lineclamp -->
  <section id="limit_paragraph_line" class="__resizeable px-5">
    <div class="container">
      <div class="row">
        <div class="col">
          <a href="https://www.youtube.com/watch?v=b6iVByCOx8A" target="_blank">
            <h1>
              CSS Line-Clamp: How to set a maximum number of lines of text with
              CSS
            </h1>
          </a>
          <pre>
<code>
  line_limit {'{'}
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  {'}'}
</code>
            </pre>
        </div>
      </div>
      <div class="row tw-flex tw-justify-around">
        <div class="col">
          <div class="card h-100">
            <img
              width="82"
              class="rounded-circle mx-auto p-1"
              src="https://via.placeholder.com/512x512?text=placeholder"
            />
            <div class="card-body">
              <h5 class="card-title">Line Clamp 1</h5>
              <p class="card-text card-text__line_limit">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit
                eius eligendi exercitationem vero cupiditate asperiores ea
                officiis cum quam quis! Deleniti perspiciatis architecto, sit
                asperiores quibusdam delectus sunt voluptate laudantium.
              </p>
            </div>
            <footer class="card-footer">
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </footer>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              width="82"
              class="rounded-circle mx-auto p-1"
              src="https://via.placeholder.com/512x512?text=placeholder"
            />
            <div class="card-body">
              <h5 class="card-title">Line Clamp 2</h5>
              <p class="card-text card-text__line_limit">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Consequuntur architecto quibusdam ipsum maiores?
              </p>
            </div>
            <footer class="card-footer">
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </footer>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              width="82"
              class="rounded-circle mx-auto p-1"
              src="https://via.placeholder.com/512x512?text=placeholder"
            />
            <div class="card-body">
              <h5 class="card-title">Line Clamp 3</h5>
              <p class="card-text card-text__line_limit">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa,
                natus incidunt a nulla quas libero aut architecto reiciendis,
                assumenda officiis amet corrupti quisquam, harum recusandae.
                Iusto, ipsa. Vitae obcaecati adipisci repellendus sit itaque
                repellat dolore!
              </p>
            </div>
            <footer class="card-footer">
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </footer>
          </div>
        </div>
      </div>
    </div>
  </section>

<style lang="scss">
  .__resizeable {
    @apply tw-box-border tw-max-w-full tw-border-lime-400 tw-border-solid tw-resize tw-overflow-hidden;
  }
  #flex_basis_practice {
    .row {
      border: 2px solid #ccc;
      padding: 1rem;
      margin-bottom: 1rem;
      gap: 1rem;
    }

    .flex-item {
      border: 2px solid #000;
      padding: 1rem;

      flex-basis: auto;
      flex-basis: 200px;
      min-height: 100px;
    }
  }

  #limit_paragraph_line .card-text.card-text__line_limit {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
</style>
