---
import Layout from "../layouts/Layout.astro";

import CanvasSize from "../standard/_canvas_size.astro";
import MastheadAspectRatio from "../standard/_masthead_aspect_ratio.astro";
---

<Layout>
  <!-- <section class="masthead__container masthead__center masthead__dark">
    <div
      style="background-image:url(https://images.pexels.com/photos/11785073/pexels-photo-11785073.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);"
      class="masthead__bg"
    >
    </div>
    <div class="masthead__content">
      <h3>Image Background</h3>
    </div>
  </section>

  <section class="masthead__container has-parallax">
    <div
      class="masthead__bg overlay overlay-2 parallax h-100vh"
      style="background-image:url(https://images.pexels.com/photos/11785073/pexels-photo-11785073.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);"
      data-rellax-speed="-10"
    >
    </div>
    <div class="text-center">
      <h5>Image Background Parallax</h5>
    </div>
  </section>

  <section class="masthead__container has-parallax" id="header-video">
    <div
      class="masthead__bg overlay overlay-2 parallax h-100vh"
      style="background-image:url(https://prium.github.io/assets/images/video.jpg);"
      data-rellax-speed="-10"
    >
      <video autoplay="autoplay" loop="loop" muted="muted">
        <source
          src="https://prium.github.io/assets/videos/demo/video.webm"
          type="video/webm"
        />
        <source
          src="https://prium.github.io/assets/videos/demo/video.mp4"
          type="video/mp4"
        />
        <source
          src="https://prium.github.io/assets/videos/demo/video.ogv"
          type="video/ogv"
        />
      </video>
    </div>
    <div>
      <h5>Video Background Parallax</h5>
    </div>
  </section>

  <section class="masthead__container" id="header-video">
    <div
      class="masthead__bg overlay"
      style="background-image:url(https://images.pexels.com/photos/11785073/pexels-photo-11785073.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);"
    >
      <video autoplay="autoplay" loop="loop" muted="muted">
        <source
          src="https://prium.github.io/assets/videos/demo/video.webm"
          type="video/webm"
        />
        <source
          src="https://prium.github.io/assets/videos/demo/video.mp4"
          type="video/mp4"
        />
        <source
          src="https://prium.github.io/assets/videos/demo/video.ogv"
          type="video/ogv"
        />
      </video>
    </div>
    <div>
      <h5>Video Background</h5>
    </div>
  </section>

  <section class="masthead__container">
    <div
      class="masthead__bg"
      style="background-image:url(http://img.youtube.com/vi/L3V7LKYPIUQ/maxresdefault.jpg);"
    >
      <div
        class="youtube-background"
        data-video-url="http://youtu.be/L3V7LKYPIUQ"
        data-start-at="0"
        data-stop-at="444"
      >
      </div>
    </div>
    <div class="text-center">
      <h4 class="color-white">Youtube Video Background</h4>
    </div>
  </section>

  <section class="masthead__container py-7">
    <div
      style="background-image:url(https://prium.github.io/assets/images/header-02.jpg);"
      class="masthead__bg overlay overlay-1"
    >
    </div>
    <div class="text-center">
      <h5>Image Background</h5>
      <h6>(.overlay-1)</h6>
    </div>
  </section>
  <section id="background">
    <section class="masthead__landscape">
      <picture class="masthead__picture">
        <img
          src="https://images.pexels.com/photos/11785073/pexels-photo-11785073.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);"
          alt=""
        />
      </picture>
      <div class="text-center">
        <h4>Image Background</h4>
      </div>
    </section>
  </section>

  <section class="masthead__container">
    <div
      style="background-image:url(https://prium.github.io/assets/images/header-02.jpg);"
      class="masthead__bg"
    >
    </div>
    <div class="text-center">
      <h4>Image Background</h4>
    </div>
  </section> -->

  <CanvasSize />

  <MastheadAspectRatio />
</Layout>
