---
import Icon from "astro-icon";
---

<div id="blog-cards" class="bg__blue py-5">
  <div class="cards">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-image">
              <img
                class="img"
                src="https://source.unsplash.com/collection/582860/660x440"
              />
            </div>

            <div class="content">
              <h6
                class="category text-primary"
                style="color: rgb(204, 47, 48);"
              >
                Cards
              </h6>
              <p
                class="card-description text-dark-secondary"
                style="color: rgb(21, 66, 122);"
              >
                Cards are a part of the material design guidelines, but beyond
                that they're easy to use and look great on desktop and mobile.
              </p>
            </div>
          </div>

          <div class="card">
            <div
              class="content content-inverted fill-highlight2"
              style="background-color: rgb(222, 119, 119);"
            >
              <h4 class="card-title">
                <Icon name="bi:newspaper" width="24" height="24" /> &nbsp; Accents
              </h4>
              <p class="card-description">
                Accent colors should be used sparingly to draw attention to
                important design elements. Overuse of accent colors can make
                your design look haphazard.
              </p>
              <div class="footer text-center">
                <a href="#" class="btn btn-white btn-round"
                  >Inverted button<div class="ripple-container"></div></a
                >
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="content">
              <h6
                class="category text-primary"
                style="color: rgb(204, 47, 48);"
              >
                <Icon name="bi:eye-fill" width="24" height="24" /> &nbsp;Color examples
              </h6>

              <h4 class="card-title text-dark" style="color: rgb(25, 89, 169);">
                Applying a color palette is an interpretive art. This page might
                give you some ideas.
              </h4>

              <div class="footer">
                <div class="author text-dark" style="color: rgb(25, 89, 169);">
                  <img
                    src="https://source.unsplash.com/collection/138794/60x60"
                    alt="..."
                    class="avatar img-raised"
                  />
                  <span>Beautiful Stranger</span>
                </div>
                <div
                  class="stats text-light-secondary mt-1 me-0 ms-auto"
                  style="color: rgb(153, 170, 173);"
                >
                  <Icon name="bi:heart-fill" width="24" height="24" /> 342 ·
                  <Icon name="bi:chat-left-fill" width="24" height="24" /> 45
                </div>
              </div>
            </div>
          </div>

          <div class="card card-blog">
            <div
              class="card-image fill-highlight1"
              style="background-color: rgb(131, 148, 174);"
            >
              <div id="pattern"></div>
            </div>

            <div class="content">
              <h6
                class="category text-primary"
                style="color: rgb(204, 47, 48);"
              >
                Backgrounds
              </h6>

              <h4 class="card-title text-dark" style="color: rgb(25, 89, 169);">
                Be subtle
              </h4>
              <p
                class="card-description text-dark-secondary"
                style="color: rgb(21, 66, 122);"
              >
                Layer colors with an abstract design or subtle background
                pattern. Patterns load a lot faster than images and can support
                retina resolutions automatically via SVG.
              </p>
              <div class="footer">
                <div class="author text-dark" style="color: rgb(25, 89, 169);">
                  <img
                    src="https://source.unsplash.com/collection/474205/60x60"
                    alt="..."
                    class="avatar img-raised"
                  />
                  <span>Avery</span>
                </div>
                <div
                  class="stats text-light-secondary"
                  style="color: rgb(153, 170, 173);"
                >
                  <Icon name="bi:clock" width="24" height="24" /> 5 min read
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-blog">
            <div class="card-image">
              <div
                class="fill-primary"
                style='width: 100%; height: 0px; padding-top: 100%; background-image: url("http://colormind.io/bootstrap/typewriter/layer0.png"), url("http://colormind.io/bootstrap/typewriter/layer1.png"); background-size: 100%; background-color: rgb(204, 47, 48); background-blend-mode: multiply, normal;'
              >
              </div>
            </div>
            <div class="content">
              <h6
                class="category text-primary"
                style="color: rgb(204, 47, 48);"
              >
                <Icon name="bi:images" width="24" height="24" /> &nbsp; Creative
                blending
              </h6>
              <h4 class="card-title text-dark" style="color: rgb(25, 89, 169);">
                Incorporate colors in your graphics
              </h4>
              <p
                class="card-description text-dark-secondary"
                style="color: rgb(21, 66, 122);"
              >
                Colors look more natural when blended into shadows and gradients
              </p>
              <div class="footer">
                <div class="author text-dark" style="color: rgb(25, 89, 169);">
                  <img
                    src="https://source.unsplash.com/collection/302501/60x60"
                    alt="..."
                    class="avatar img-raised"
                  />
                  <span>Reed</span>
                </div>
                <div
                  class="stats text-light-secondary"
                  style="color: rgb(153, 170, 173);"
                >
                  <Icon name="bi:clock" width="24" height="24" /> 5 min read
                </div>
              </div>
            </div>
          </div>

          <div
            class="card fill-dark-secondary"
            style="background-color: rgb(21, 66, 122);"
          >
            <div class="content content-inverted">
              <h5 class="category-social">
                <Icon name="bi:twitter" width="24" height="24" /> Twitter
              </h5>
              <h4 class="card-title">
                A shade of the dark color can be used for differentiation, or to
                provide more contrast.
              </h4>
              <div class="footer">
                <div class="author">
                  <a href="#">
                    <img
                      src="https://source.unsplash.com/collection/629498/60x60"
                      alt="..."
                      class="avatar img-raised"
                    />
                    <span>Jane</span>
                  </a>
                </div>
                <div class="stats">
                  <Icon name="bi:heart-fill" width="24" height="24" /> 2.4K ·
                  <Icon name="bi:share-fill" width="24" height="24" /> 45
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--     *********    END BLOG CARDS      *********      -->

  <!--     *********    PRODUCT CARDS     *********      -->

  <div class="cards">
    <div class="container">
      <div class="title">
        <h3 class="text-light" style="color: rgb(224, 229, 230);">
          Light on dark
        </h3>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div
            class="card card-background fill-dark-secondary"
            style="background-color: rgb(21, 66, 122);"
          >
            <div class="content">
              <h6
                class="category text-light"
                style="color: rgb(224, 229, 230);"
              >
                Photography
              </h6>

              <h3 class="card-title">
                Inject your color scheme into photography
              </h3>
              <p class="card-description">
                Photo manipulations can be a great way to emphasize brand
                colors.
              </p>
              <a href="#pablo" class="btn btn-white btn-simple">
                <Icon name="bi:text-paragraph" width="24" height="24" /> Article
                link
              </a>
              <a href="#pablo" class="btn btn-white btn-simple">
                <Icon name="bi:stopwatch-fill" width="24" height="24" />Watch
                Later
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div
            class="card card-background fill-primary"
            style='width: 100%; height: 0px; padding-top: 55%; background-image: url("http://colormind.io/bootstrap/flower/layer0.png"), url("http://colormind.io/bootstrap/flower/layer1.png"); background-size: 100%; background-color: rgb(204, 47, 48); background-blend-mode: normal, color-dodge;'
          >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  #blog-cards {
    --light: rgb(224, 229, 230);
    --blue: rgb(25, 89, 169);

    &.bg__blue {
      background-color: var(--blue);
    }
    .card {
      background-color: var(--light);

      border: 0;
      display: inline-block;
      position: relative;
      width: 100%;
      margin-bottom: 30px;
      border-radius: 6px;
      color: rgba(0, 0, 0, 0.87);
      box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%),
        0 1px 5px 0 rgb(0 0 0 / 12%);
    }
    .card-blog {
      margin-top: 30px;
    }
    .card .card-title {
      margin: 1rem auto;
    }
    .card h6 {
      margin-top: 1rem;
      font-size: 1.2rem;
    }
    .card .card-image {
      height: 60%;
      position: relative;
      overflow: hidden;
      margin-left: 15px;
      margin-right: 15px;
      margin-top: -30px;
      border-radius: 6px;
      box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%),
        0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
    }
    .card .content {
      padding: 15px 30px;
    }

    .card .footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .card [class*="header-"],
    .card [class*="content-"] {
      color: #ffffff;
    }

    .card-background {
      background-position: center center;
      background-size: cover;
      text-align: center;

      .card-title {
        color: #fff;
      }
      .category,
      .card-description,
      small {
        color: rgba(255, 255, 255, 0.7);
      }

      .btn.btn-white.btn-simple,
      .navbar .navbar-nav > li > a.btn.btn-white.btn-simple {
        color: #fff;
        background: transparent;
        box-shadow: none;
      }
    }
    #pattern {
      width: 100%;
      height: 0;
      padding-top: 75%;
      opacity: 0.3;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23000000' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M41 37.59V25h-2v12.59l-8.9-8.9-1.41 1.41 8.9 8.9H25v2h12.59l-8.9 8.9 1.41 1.41 8.9-8.9V55h2V42.41l8.9 8.9 1.41-1.41-8.9-8.9H55v-2H42.41l8.9-8.9-1.41-1.41-8.9 8.9zM1 1h2v2H1V1zm0 4h2v2H1V5zm0 4h2v2H1V9zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm0 4h2v2H1v-2zm4 0h2v2H5v-2zm4 0h2v2H9v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zm4 0h2v2h-2v-2zM5 1h2v2H5V1zm4 0h2v2H9V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm4 0h2v2h-2V1zm0 4h2v2h-2V5zm0 4h2v2h-2V9zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zm0 4h2v2h-2v-2zM5 5h70v70H5V5zm2 68h66V7H7v66zM9 9h62v62H9V9zm2 60h58V11H11v58zm2-39.6V13h16.4A29.1 29.1 0 0 0 13 29.4zM15 15v6.67A31.17 31.17 0 0 1 21.67 15H15zm-2 52V50.6A29.1 29.1 0 0 0 29.4 67H13zm2-8.67V65h6.67A31.17 31.17 0 0 1 15 58.33zM67 67H50.6A29.1 29.1 0 0 0 67 50.6V67zm-8.67-2H65v-6.67A31.17 31.17 0 0 1 58.33 65zM67 13v16.4A29.1 29.1 0 0 0 50.6 13H67zm-2 8.67V15h-6.67A31.17 31.17 0 0 1 65 21.67zM39 13h2v2h-2v-2zm7.02.66l1.93.52-.51 1.93-1.94-.52.52-1.93zm6.61 2.46l1.74 1-1 1.73-1.74-1 1-1.73zm5.75 4.08l1.42 1.42-1.42 1.4-1.4-1.4 1.4-1.42zm4.5 5.43l1 1.74-1.73 1-1-1.74 1.73-1zm2.94 6.42l.52 1.93-1.93.52-.52-1.94 1.93-.51zM67 39v2h-2v-2h2zm-.66 7.02l-.52 1.93-1.93-.51.52-1.94 1.93.52zm-2.46 6.61l-1 1.74-1.73-1 1-1.74 1.73 1zm-4.08 5.75l-1.42 1.42-1.4-1.42 1.4-1.4 1.42 1.4zm-5.43 4.5l-1.74 1-1-1.73 1.74-1 1 1.73zM41 67h-2v-2h2v2zm6.95-1.18l-1.93.52-.52-1.93 1.94-.52.51 1.93zm-13.97.52l-1.93-.52.51-1.93 1.94.52-.52 1.93zm-6.61-2.46l-1.74-1 1-1.73 1.74 1-1 1.73zm-5.75-4.08l-1.42-1.42 1.42-1.4 1.4 1.4-1.4 1.42zm-4.5-5.43l-1-1.74 1.73-1 1 1.74-1.73 1zm-2.94-6.42l-.52-1.93 1.93-.52.52 1.94-1.93.51zM13 41v-2h2v2h-2zm.66-7.02l.52-1.93 1.93.51-.52 1.94-1.93-.52zm2.46-6.61l1-1.74 1.73 1-1 1.74-1.73-1zm4.08-5.75l1.42-1.42 1.4 1.42-1.4 1.4-1.42-1.4zm5.43-4.5l1.74-1 1 1.73-1.74 1-1-1.73zm6.42-2.94l1.93-.52.52 1.93-1.94.52-.51-1.93zM40 63a23 23 0 1 1 0-46 23 23 0 0 1 0 46zm0-2a21 21 0 1 0 0-42 21 21 0 0 0 0 42zm0-2a19 19 0 1 1 0-38 19 19 0 0 1 0 38zm0-2a17 17 0 1 0 0-34 17 17 0 0 0 0 34z'/%3E%3C/g%3E%3C/svg%3E");
    }
  }

  // navbar dropdown animations
  // normal dropdown position have issue with animations
  .navbar-nav .nav-item.dropdown {
    .dropdown-menu {
      display: block;
      // margin-top: 0;
    }
    .dropdown-menu.show {
      animation: fadeInLeft 0.5s ease forwards;
    }
    .dropdown-menu:not(.show) {
      animation: fadeOutRight 0.25s ease forwards;
      pointer-events: none;
    }
  }
</style>
