<pre>
- <a target="_blank" href="https://github.com/mattboldt/typed.js/">Typed.js - https://github.com/mattboldt/typed.js/</a>

- [ ] <a target="_blank" href="https://www.youtube.com/watch?v=7uDdiMCVwJk">CodingInPublic - Typewriter Animation Effect with HTML, CSS, and JavaScript</a>
</pre>

<script is:inline src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<h2>
  <span id="typed-text" style="font-size: 5rem"></span>
</h2>

<div id="typed-strings">
  <p>Typed.js is a <strong>JavaScript</strong> library.</p>
  <p>It <em>types</em> out sentences.</p>
</div>
<h2>
  <span id="typed"></span>
</h2>
<script is:inline>
  var typed = new Typed("#typed-text", {
    strings: ["This is a sentence.", "This is another sentence."],
    typeSpeed: 50,
  });

  var typed_seo = new Typed("#typed", {
    stringsElement: "#typed-strings",
    typeSpeed: 10,
    loop: true,
  });
</script>
