---
// 230328-openai get started
import OpenaiWriteHaiku from "./230328-OpenaiWriteHaiku.vue";
import OpenaiDrawHaiku from "./230328-OpenaiDrawHaiku.vue";
---

<section class="tw-container">
    <h1>Haiku Generator (OpenAI)</h1>

    <OpenaiWriteHaiku client:load />

    <hr />

    <OpenaiDrawHaiku client:load />

    <style is:global>
        hr {
            border-bottom: 3px double #aaa;
            margin: 3rem auto;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 1rem;

            margin: 1rem auto;
        }
        input {
            background: #eee;
            padding: 0.5rem 1rem;
            width: 100%;
        }
        button {
            font-weight: bold;
            padding: 0.5rem 1rem;
            cursor: pointer;
            transition: filter 0.3s ease;
        }
        button:hover {
            filter: brightness(1.1);
        }
        button[type="submit"] {
            background-color: lightseagreen;
            color: #fff;
        }
        button.icon {
            border-radius: 50rem;
            aspect-ratio: 1/1;
            padding: 1rem;
            margin: 0 1rem;
            background-color: lightskyblue;
        }
    </style>
</section>
