<pre>
230308 - fullscreen_menu
<a href="https://www.youtube.com/watch?v=NUeCNvYY_x4" target="_blank">Hyperplexed - Menu that wow users</a>
<a href="https://www.dnacapital.com/en" target="_blank">inspiration: https://www.dnacapital.com/en</a>
</pre>
<section id="menu__page">
  <div id="menu">
    <div id="menu-items">
      <a href="#" class="menu-link">Home</a>
      <a href="#" class="menu-link">Shop</a>
      <a href="#" class="menu-link">About</a>
      <a href="#" class="menu-link">Contact Us</a>
    </div>
    <div id="menu-background-pattern"></div>
    <div id="menu-background-image"></div>
  </div>
</section>
<style>
  #menu__page {
    background-color: #333;

    overflow: hidden;
  }
  #menu {
    height: 100vh;
    display: flex;
    align-items: center;

    position: relative;
  }
  #menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);

    position: relative;
    z-index: 2;
  }
  #menu-items:hover > .menu-link {
    opacity: 0.3;
  }
  #menu-items:hover > .menu-link:hover {
    opacity: 1;
  }
  .menu-link {
    color: #fff;
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: "Ibarra Real Nova", "Times New Roman", Times, serif;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;

    transition: opacity 400ms ease;
  }
  #menu-background-pattern {
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.1) 9%,
      transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    transition: opacity 1200ms ease, background-size 1200ms ease,
      background-position 1200ms ease;
  }

  #menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
  }

  #menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
  }
  #menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
  }
  #menu[data-active-index="2"] > #menu-background-pattern {
    background-position: 0% -75%;
  }
  #menu[data-active-index="3"] > #menu-background-pattern {
    background-position: 0% -100%;
  }

  #menu-background-image {
    height: 100%;
    width: 100%;

    background-image: url("https://images.pexels.com/photos/5015227/pexels-photo-5015227.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-position: center 40%;
    background-size: 110vmax;
    opacity: 0.15;

    transition: opacity 1200ms ease, background-size 1200ms ease,
      background-position 1200ms ease;
  }

  #menu-items:hover ~ #menu-background-image {
    background-size: 110vmax;
    opacity: 0.1;
  }

  #menu[data-active-index="0"] > #menu-background-image {
    background-position: center 45%;
  }
  #menu[data-active-index="1"] > #menu-background-image {
    background-position: center 50%;
  }
  #menu[data-active-index="2"] > #menu-background-image {
    background-position: center 55%;
  }
  #menu[data-active-index="3"] > #menu-background-image {
    background-position: center 60%;
  }
</style>

<script is:inline>
  const menu = document.getElementById("menu");
  Array.from(document.getElementsByClassName("menu-link")).forEach(
    (item, index) => {
      console.log(item, index);
      item.onmouseover = () => {
        menu.dataset.activeIndex = index;
      };
    }
  );
</script>
