<script is:inline src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"
></script>
<script is:inline src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"
></script>

<pre>
230306 - Masonry - imagesLoaded progress, vanilla JS
<a href="https://masonry.desandro.com/options.html" target="_blank">doc & demo</a>
</pre>

<div class="grid">
  <div class="grid-sizer"></div>
  <div class="grid-item">
    <img
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/orange-tree.jpg"
    />
  </div>
  <div class="grid-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
  </div>
  <div class="grid-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/look-out.jpg" />
  </div>
  <div class="grid-item">
    <img
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/one-world-trade.jpg"
    />
  </div>
  <div class="grid-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/drizzle.jpg" />
  </div>
  <div class="grid-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/cat-nose.jpg" />
  </div>
  <div class="grid-item">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/contrail.jpg" />
  </div>
  <div class="grid-item">
    <img
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/golden-hour.jpg"
    />
  </div>
  <div class="grid-item">
    <img
      src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/flight-formation.jpg"
    />
  </div>
</div>

<style>
  .grid {
    background: #ddd;
  }

  /* clear fix */
  .grid:after {
    content: "";
    display: block;
    clear: both;
  }

  /* ---- .grid-item ---- */

  .grid-sizer,
  .grid-item {
    width: 33.333%;
  }

  .grid-item {
    float: left;
  }

  .grid-item img {
    display: block;
    max-width: 100%;
  }
</style>
<script is:inline>
  // external js: masonry.pkgd.js, imagesloaded.pkgd.js

  // init Masonry
  var grid = document.querySelector(".grid");

  var msnry = new Masonry(grid, {
    itemSelector: ".grid-item",
    columnWidth: ".grid-sizer",
    percentPosition: true,
  });

  imagesLoaded(grid).on("progress", function () {
    // layout Masonry after each image loads
    msnry.layout();
  });
</script>
