<div class="content tw-grow">
  <h1 id="nasi" data-value="NASIðŸšLEMAKðŸ˜‚DAY">
    NASI&#129381;LEMAK&#127834;DAY
  </h1>

  <pre><a href="https://www.youtube.com/watch?v=W5oawMJaXbU">source</a></pre>
</div>
<style>
  .content {
    background: rgb(182, 208, 158);
    background: linear-gradient(
      146deg,
      rgba(182, 208, 158, 1) 0%,
      rgba(98, 123, 57, 1) 39%,
      rgba(62, 95, 34, 1) 100%
    );

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  h1 {
    @apply tw-text-2xl sm:tw-text-5xl md:tw-text-8xl lg:tw-text-8xl;
    display: inline-block;
    color: #f7f8f1;
    font-family: monospace;
  }
</style>

<script>
  const letters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
  const get_nasi = document.querySelector("#nasi");
  if (get_nasi) {
    get_nasi.addEventListener("mouseover", (e) => {
      let iteration = 0;

      const interval = setInterval(() => {
        e.target.innerText = e.target.innerText
          .split("")
          .map((letter, index) => {
            if (index < iteration) {
              return e.target.dataset.value[index];
            }
            return letters[Math.floor(Math.random() * 26)];
          })
          .join("");

        if (iteration >= e.target.dataset.value.length) clearInterval(interval);
        iteration += 1 / 3;
      }, 30);
    });
  }
</script>
