---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <!-- BS5 -->
  <main class="exp-template" style="filter: saturate(0);">
    <header>
      <div class="container">
        <div class="row justify-content-around text-center">
          <div class="col">
            <ul
              class="nav mx-auto p-0 col-10 my-2 list-unstyled justify-content-center"
            >
              <li class="nav-item mx-4">
                <a class="text-muted" href="#">
                  <i class="bi-facebook" style="font-size: 2rem; color: #aaa;"
                  ></i>
                </a>
              </li>
              <li class="nav-item mx-4">
                <a class="text-muted" href="#">
                  <i class="bi-twitter" style="font-size: 2rem; color: #aaa;"
                  ></i>
                </a>
              </li>
              <li class="nav-item mx-4">
                <a class="text-muted" href="#">
                  <i class="bi-tiktok" style="font-size: 2rem; color: #aaa;"
                  ></i>
                </a>
              </li>
              <li class="nav-item mx-4">
                <a class="text-muted" href="#">
                  <i class="bi-instagram" style="font-size: 2rem; color: #aaa;"
                  ></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <main class="shadow-lg bg-white sticky-top" style="margin-bottom: 30rem;">
      <div class="container">
        <header class="d-flex justify-content-center py-3 pt-5">
          <ul class="nav nav-pills">
            <!-- <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li> -->
            <li class="nav-item">
              <a href="#" class="nav-link">Who We Are</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">Why Us</a></li>
            <li class="nav-item">
              <a href="#" class="nav-link">The Real Products</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Where We At</a>
            </li>
          </ul>
        </header>
      </div>
      <div class="px-4 pt-5 my-5 text-center border-bottom">
        <h1 class="display-3 fw-bold"><i>The Real Techniques</i></h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente
            quos, similique sed accusantium recusandae a, quo facilis doloribus
            deleniti doloremque odit reprehenderit magni rerum distinctio.
          </p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn btn-secondary btn-lg px-4 me-sm-3"
              >CTA 1</button
            >
            <button type="button" class="btn btn-outline-secondary btn-lg px-4"
              >CTA 2</button
            >
          </div>
        </div>
        <div class="overflow-hidden" style="max-height: 40vh;">
          <div class="container px-5">
            <img
              src="https://images.pexels.com/photos/212236/pexels-photo-212236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
              class="w-100 img-fluid border rounded-3 shadow-lg mb-4"
              alt="Example image"
              width="700"
              height="500"
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <div class="container px-4 py-5" id="hanging-icons">
        <h2 class="pb-2 border-bottom w-50">Why Real Techniques?</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
          <div class="col d-flex align-items-start">
            <div
              class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
            >
              <i class="bi bi-brush-fill h2"></i>
            </div>
            <div>
              <h3 class="fs-2">Why Us 1</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Consectetur illo sit excepturi provident praesentium earum totam
                iste saepe? Tempora, dolores.
              </p>
              <a href="#" class="btn btn-secondary"> Read more</a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div
              class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
            >
              <i class="bi bi-brush-fill h2"></i>
            </div>
            <div>
              <h3 class="fs-2">Why Us 2</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Consectetur illo sit excepturi provident praesentium earum totam
                iste saepe? Tempora, dolores.
              </p>
              <a href="#" class="btn btn-secondary"> Read more</a>
            </div>
          </div>
          <div class="col d-flex align-items-start">
            <div
              class="icon-square d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3"
            >
              <i class="bi bi-brush-fill h2"></i>
            </div>
            <div>
              <h3 class="fs-2">Why Us 3</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Consectetur illo sit excepturi provident praesentium earum totam
                iste saepe? Tempora, dolores.
              </p>
              <a href="#" class="btn btn-secondary"> Read more</a>
            </div>
          </div>
        </div>
      </div>

      <section id="products">
        <div class="container my-5">
          <div
            class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
            style="aspect-ratio: 2/1"
          >
            <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
              <h1 class="display-4 fw-bold lh-1">Our Products #1</h1>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt minus iste rerum unde dolorem, voluptate doloribus?
                Deserunt quod impedit iure, placeat nisi voluptatibus, ut non
                cupiditate commodi itaque eaque sed.
              </p>
              <div
                class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3 mt-5"
              >
                <button
                  type="button"
                  class="btn btn-secondary btn-lg px-4 me-md-2 fw-bold"
                  >Where to find?</button
                >
                <button
                  type="button"
                  class="btn btn-outline-secondary btn-lg px-4"
                  >More info</button
                >
              </div>
            </div>
            <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img
                class="rounded-lg-3"
                src="https://images.pexels.com/photos/7588616/pexels-photo-7588616.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt=""
                width="720"
              />
            </div>
          </div>
        </div>
        <div class="container my-5">
          <div
            class="row p-4 pb-0 ps-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
            style="aspect-ratio: 2/1"
          >
            <div class="col-lg-7 offset-lg-1 p-3 p-lg-5 pt-lg-3 order-2">
              <h1 class="display-4 fw-bold lh-1">Our Products #2</h1>
              <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Nesciunt minus iste rerum unde dolorem, voluptate doloribus?
                Deserunt quod impedit iure, placeat nisi voluptatibus, ut non
                cupiditate commodi itaque eaque sed.
              </p>
              <div
                class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3 mt-5"
              >
                <button
                  type="button"
                  class="btn btn-secondary btn-lg px-4 me-md-2 fw-bold"
                  >Where to find?</button
                >
                <button
                  type="button"
                  class="btn btn-outline-secondary btn-lg px-4"
                  >More info</button
                >
              </div>
            </div>
            <div class="h-100 col-lg-4 p-0 overflow-hidden shadow-lg order-1">
              <img
                class="rounded-lg-3"
                src="https://images.pexels.com/photos/1499512/pexels-photo-1499512.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt=""
                width="720"
                style="
    aspect-ratio: 3/4;
    object-position: 0% 0%;
    width: 100%;
    height: 100%;
    object-fit: none;
    scale: 1.1;"
              />
            </div>
          </div>
        </div>
      </section>

      <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom w-50">The Reals</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
              style="aspect-ratio: 3/4; background-size: cover; background-image: url('https://images.pexels.com/photos/8956115/pexels-photo-8956115.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"
            >
              <div
                class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
              >
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                  5 Makeup Tips for a Flawless Look
                </h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="d-flex align-items-center me-3">
                    <small>Kuching</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em">
                      <use xlink:href="#calendar3"></use>
                    </svg>
                    <small>2d</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
              style="aspect-ratio: 3/4; background-size: cover; background-image: url('https://images.pexels.com/photos/6953599/pexels-photo-6953599.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"
            >
              <div
                class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"
              >
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                  The Best Products for a Natural Makeup Look
                </h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="d-flex align-items-center me-3">
                    <small>Pahang</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em">
                      <use xlink:href="#calendar3"></use>
                    </svg>
                    <small>4d</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col">
            <div
              class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
              style="aspect-ratio: 3/4; background-size: cover; background-image: url('https://images.pexels.com/photos/7290204/pexels-photo-7290204.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');"
            >
              <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
                  How to Create a Smokey Eye in 10 Easy Steps
                </h3>
                <ul class="d-flex list-unstyled mt-auto">
                  <li class="d-flex align-items-center me-3">
                    <small>Penang</small>
                  </li>
                  <li class="d-flex align-items-center">
                    <svg class="bi me-2" width="1em" height="1em">
                      <use xlink:href="#calendar3"></use>
                    </svg>
                    <small>5d</small>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container py-4">
        <div class="p-5 mb-5 text-bg-dark rounded-3">
          <div class="container-fluid">
            <div class="row justify-content-center text-center">
              <h1 class="display-5 fw-bold">Buy @ Watson</h1>
              <p class="col-md-8 fs-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Similique totam iure voluptatum ut.
              </p>
              <form id="filter_watson">
                <div class="row justify-content-center">
                  <div class="col-md-5">
                    <!-- <label for="State" class="form-label">State</label> -->
                    <select
                      class="form-select form-select-lg"
                      id="State"
                      required
                    >
                      <option value="">Choose your State</option>
                      <option value="">Johor</option>
                      <option value="">Kedah</option>
                      <option value="">Kelantan</option>
                      <option value="">Melaka</option>
                      <option value="">Negeri Sembilan</option>
                      <option value="">Pahang</option>
                      <option value="">Penang</option>
                      <option value="">Perak</option>
                      <option value="">Perlis</option>
                      <option value="">Sabah</option>
                      <option value="">Sarawak</option>
                      <option value="">Selangor</option>
                      <option value="">Terengganu</option>
                      <option value="">Kuala Lumpur</option>
                      <option value="">Labuan</option>
                      <option value="">Putrajaya</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid State.
                    </div>
                  </div>
                </div>
                <div class="row justify-content-center mt-4 text-start">
                  <div class="col-5">
                    <ol class="list-group list-group-numbered">
                      <li
                        class="list-group-item d-flex justify-content-between align-items-start"
                      >
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Store location #1</div>
                          Address Lorem ipsum dolor, sit amet consectetur adipisicing
                          elit.
                        </div>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-start"
                      >
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Store location #2</div>
                          Address Lorem ipsum dolor, sit amet consectetur adipisicing
                          elit.
                        </div>
                      </li>
                      <li
                        class="list-group-item d-flex justify-content-between align-items-start"
                      >
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">Store location #3</div>
                          Address Lorem ipsum dolor, sit amet consectetur adipisicing
                          elit.
                        </div>
                      </li>
                    </ol>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="container">
        <div class="row justify-content-around text-center">
          <div class="col">
            <ul
              class="nav mx-auto p-0 col-10 my-5 list-unstyled justify-content-around"
            >
              <li class="nav-item mx-2">
                <a class="text-muted" href="#">
                  <i class="bi-facebook" style="font-size: 8rem; color: #aaa;"
                  ></i>
                </a>
              </li>
              <li class="nav-item mx-2">
                <a class="text-muted" href="#">
                  <i class="bi-twitter" style="font-size: 8rem; color: #aaa;"
                  ></i>
                </a>
              </li>
              <li class="nav-item mx-2">
                <a class="text-muted" href="#">
                  <i class="bi-tiktok" style="font-size: 8rem; color: #aaa;"
                  ></i>
                </a>
              </li>
              <li class="nav-item mx-2">
                <a class="text-muted" href="#">
                  <i class="bi-instagram" style="font-size: 8rem; color: #aaa;"
                  ></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="row justify-content-center text-center py-3 my-4 border-top w-75 mx-auto"
        >
          <div class="col">
            <span class="mb-3 mb-md-0 text-muted">© 2022 Real Techniques</span>
          </div>
        </div>
      </div>
    </footer>
  </main>
</Layout>
