---
import Layout from "../../layouts/Layout.astro";
import Link from "../../layouts/Link.astro";

import "./scss/_bootstrap.scss";
---

<Layout is_bootstrap={true} >
  <Link href="/" text="Back to home" style="primary" />
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light __fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="48"
            height="48"
            fill="currentColor"
            class="bi bi-brightness-alt-high-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 3a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 3zm8 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zm-13.5.5a.5.5 0 0 0 0-1h-2a.5.5 0 0 0 0 1h2zm11.157-6.157a.5.5 0 0 1 0 .707l-1.414 1.414a.5.5 0 1 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm-9.9 2.121a.5.5 0 0 0 .707-.707L3.05 5.343a.5.5 0 1 0-.707.707l1.414 1.414zM8 7a4 4 0 0 0-4 4 .5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5 4 4 0 0 0-4-4z"
            ></path>
          </svg> Logo</a
        >
        <button
          class="navbar-toggler hidden-lg-up"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"></button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="collapsibleNavId"
        >
          <ul class="navbar-nav mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Who are we?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">The season of Lent</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light btn btn-primary mx-2" href="#"
                >Donate</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div
      id="landing"
      class="tw-container tw-mx-auto tw-px-6 tw-py-16 tw-pt-28 tw-text-center"
    >
      <div class="tw-mx-auto tw-max-w-5xl">
        <h1
          class="tw-text-3xl tw-font-bold tw-text-gray-800 dark:tw-text-white md:tw-text-4xl"
        >
          Season of Lent: Support Our Community
        </h1>

        <p class="tw-mt-6 tw-text-gray-500 dark:tw-text-gray-300">
          Welcome to our Season of Lent donation campaign. Our mission is to
          support our community by providing aid and assistance to those in need
          during this special season.
        </p>
      </div>
      <div class="tw-mt-10 tw-flex tw-justify-center">
        <img
          class="tw-h-96 tw-w-full tw-rounded-xl tw-object-cover lg:tw-w-4/5"
          src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80"
        />
      </div>
    </div>

    <div id="who-we-are" class="container my-5">
      <div
        class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg"
      >
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
          <h1 class="display-4 fw-bold lh-1">Who are we?</h1>
          <p class="lead">
            our donations will help support local food banks, shelters, and
            other organizations that provide assistance to those in need during
            the Season of Lent.
          </p>
          <div
            class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3"
          >
            <button
              type="button"
              class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"
              >Primary</button
            >
            <button type="button" class="btn btn-outline-secondary btn-lg px-4"
              >Default</button
            >
          </div>
        </div>
        <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
          <img
            class="rounded-lg-3"
            src="https://getbootstrap.com/docs/5.2/examples/heroes/bootstrap-docs.png"
            alt=""
            width="720"
          />
        </div>
      </div>
    </div>

    <section id="faq" class="container my-5">
      <h2 class="display-5 text-center mb-3">Frequently Asked Questions</h2>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header h4" id="heading1">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse1"
              aria-expanded="true"
              aria-controls="collapse1"
            >
              How can I donate?
            </button>
          </h2>
          <div
            id="collapse1"
            class="accordion-collapse collapse show"
            aria-labelledby="heading1"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              You can donate online, by mail, or in-person.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header h4" id="heading2">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse2"
              aria-expanded="true"
              aria-controls="collapse2"
            >
              What are the benefits of donating?
            </button>
          </h2>
          <div
            id="collapse2"
            class="accordion-collapse collapse"
            aria-labelledby="heading2"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Your donations are tax-deductible and will make a positive impact
              on the lives of those in our community.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header h4" id="heading3">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapse3"
              aria-expanded="true"
              aria-controls="collapse3"
            >
              Accordion Item #3
            </button>
          </h2>
          <div
            id="collapse3"
            class="accordion-collapse collapse"
            aria-labelledby="heading3"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              This is the first item's accordion body.
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="cta" class="container col-xxl-8 px-4 py-5">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-lg-7">
          <h2 class="display-5 fw-bold lh-1 mb-3">
            Donate now and make a difference in the lives of those in our
            community during this special season.
          </h2>
          <p class="lead">
            Contact us at 555-555-5555 or email us at
            info@seasonoflentdonation.com
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary px-4 me-md-2"
              >Donate now</button
            >
          </div>
        </div>
        <div class="col-10 col-sm-8 col-lg-5">
          <img
            src="https://getbootstrap.com/docs/5.2/examples/heroes/bootstrap-themes.png"
            class="d-block mx-lg-auto img-fluid"
            alt="Bootstrap Themes"
            width="700"
            height="500"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="container">
      <footer
        class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top"
      >
        <div class="col-md-4 d-flex align-items-center">
          <a
            href="/"
            class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
          >
            <svg class="bi" width="30" height="24">
              <use xlink:href="#bootstrap"></use>
            </svg>
          </a>
          <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
          <li class="ms-3">
            <a class="text-muted" href="#"
              ><svg class="bi" width="24" height="24">
                <use xlink:href="#twitter"></use>
              </svg></a
            >
          </li>
          <li class="ms-3">
            <a class="text-muted" href="#"
              ><svg class="bi" width="24" height="24">
                <use xlink:href="#instagram"></use>
              </svg></a
            >
          </li>
          <li class="ms-3">
            <a class="text-muted" href="#"
              ><svg class="bi" width="24" height="24">
                <use xlink:href="#facebook"></use>
              </svg></a
            >
          </li>
        </ul>
      </footer>
    </div>
  </footer>
  <script>
    import "bootstrap";
  </script>
</Layout>
