---
import Layout from "../../layouts/Layout.astro";

---

<Layout>
    
    <pre>230216-lenten_charity_campaign; candlelight size/intensity to indicate the ongoing progress of the charity</pre>
    <div id="candle_canvas">
        <div class="__candle_light ">
            <div class="__fire">
                <div class="fire__red">
                    <svg width="269" height="1168" viewBox="0 0 269 1168" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M138.73 0C-11.7691 378 -6.9365 866.667 5.73017 1101.5C38.231 570 215.731 496 268.73 1168C268.73 416.5 194.731 130 138.73 0Z"
                            fill="#E20F00" />
                    </svg>
                </div>
                <div class="fire__orange">
                    <svg width="269" height="1121" viewBox="0 0 269 1121" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M138.87 0C-11.7809 362.789 -6.94347 831.792 5.73592 1057.18C38.2694 547.063 215.948 476.041 269 1121C269 399.74 194.927 124.769 138.87 0Z"
                            fill="#FF9C00" />
                    </svg>
                </div>
                <div class="fire__white">
                    <svg width="269" height="955" viewBox="0 0 269 955" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M138.87 0C-11.7809 309.067 -6.94347 708.619 5.73592 900.627C38.2694 466.053 215.948 405.548 269 955C269 340.546 194.927 106.293 138.87 0Z"
                            fill="#FEF1D9" />
                    </svg>
                </div>
                <div class="fire__yellow">
                    <svg width="269" height="471" viewBox="0 0 269 471" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M138.87 0C-11.7809 152.43 -6.94347 349.486 5.73592 444.184C71 245.123 200.5 232.968 269 471C269 167.955 194.927 52.4229 138.87 0Z"
                            fill="#FFEB6E" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="candlestick">
            <img src="https://www.lightoflife.my/wp-content/uploads/2023/02/lenten-candlestick.png" alt="">
        </div>
        <div class="goal">
            <p>
                Campaign Goal
                <span>RM2,000,000</span>
            </p>
        </div>
    </div>


<style >
#candle_canvas .goal {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1;

    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    z-index: 2;
}

#candle_canvas .goal span {
    display: block;
    font-size: 3rem;
}

#candle_canvas {
    --background-color: transparent;
    --fire-size: 2.0%;
    /* fire-size: 2.0% - 20.0% */
    --fire-coor_y: 177px;
    --fire-glow: 0 0 100px 40px rgb(255 156 0 / 20%);

    background-color: var(--background-color);
    aspect-ratio: 1/1;
    max-width: 512px;
    position: relative;
    margin: auto;
    margin-bottom: 3rem;
}

@media (max-width: 425px) {
    #candle_canvas {
        aspect-ratio: 3/4;
    }
}

#candle_canvas .candlestick {
    position: relative;
    width: 100%;
    height: 100%;
}

#candle_canvas .candlestick:after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 60px;
    margin: auto;
    z-index: 1;

    width: 6%;
    height: 20%;
    box-shadow: var(--fire-glow);
}

#candle_canvas .candlestick img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    margin: auto;
    z-index: 2;

    width: 72px;
}

.__fire>div {
    position: absolute;
    bottom: var(--fire-coor_y);
    left: 0;
    right: 0;
    margin: auto;
    width: var(--fire-size);
}

.__fire svg {
    width: 100%;
    height: auto;
    opacity: 0.8;
}

.__fire .fire__red>svg {
    animation: fire 2s 0.15s ease-in-out infinite alternate;
}

.__fire .fire__orange>svg {
    animation: fire 2s 0.05s ease-in-out infinite alternate;

}

.__fire .fire__yellow>svg {
    animation: fire 2s 0.6s ease-in-out infinite alternate;
    opacity: 1;
}

.__fire .fire__white>svg {
    animation: fire 2s 0.22s ease-in-out infinite alternate;
}

.__fire .fire__red {
    filter: drop-shadow(0 -64px 22px rgba(226, 15, 0, 0.7));
}

.__fire .fire__orange {
    filter: drop-shadow(0 -22px 22px rgba(255, 156, 0, 0.7));
}

.__fire .fire__yellow {
    filter: drop-shadow(0 8px 22px rgba(255, 235, 110, 0.7));
}

.__fire .fire__white {
    filter: drop-shadow(0 24px 22px rgba(254, 241, 217, 0.7));
}


@keyframes fire {
    0% {
        transform: skewX(-0.5deg) skewY(0.5deg) scaleY(1);
    }

    82% {
        transform: skewX(0.5deg) skewY(-0.5deg) scaleY(0.88);
    }

    100% {
        transform: skewX(-0.5deg) skewY(0.5deg) scaleY(1);
    }
}
</style>
</Layout>