---
import Layout from "../../layouts/Layout.astro";

import "./scss/_bootstrap.scss";
---

<Layout is_bootstrap={true}>
  <pre>
230330 - table-wrapper doesnt work so good in mobile, mobile size will shrink the whole page
</pre>
  <div class="table-wrapper">
    <table class="table" style="min-width: 425px">
      <thead class="bg-primary text-white text-center">
        <tr>
          <th colspan="2" scope="col">Categories We Do Not Support</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Organisations</th>
          <td>
            <ul>
              <li>Political organisations / parties</li>
              <li>Politically-linked parties or lobby groups</li>
              <li>Blacklisted / unregistered companies or NGOs</li>
              <li>
                Gambling, alcohol, pornography and tobacco-related companies
              </li>
              <li>For-profit organisations*</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">Individuals</th>
          <td>
            <ul>
              <li>Employees of PETRONAS Group or its subsidiaries</li>
              <li>Individuals or individual pursuits</li>
              <li>Individual medical assistance</li>
              <li>Job attachments, internships, practicums</li>
              <li>Scholarships</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">Religion</th>
          <td>
            <ul>
              <li>Religious causes</li>
              <li>Religious organisations</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">Events</th>
          <td>
            <ul>
              <li>Fundraising events</li>
              <li>Commercial-purpose events</li>
              <li>Professional association meetings, forums, trade shows</li>
              <li>Parties, celebrations, parades, festivals and lotteries</li>
            </ul>
          </td>
        </tr>
        <tr>
          <th scope="row">Promotions</th>
          <td>
            <ul>
              <li>
                Advertising, development or production of books, films, videos,
                television programmes or websites / social media
              </li>
              <li>Merchandise promotions, partnerships or advertising</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <style>
    .table-wrapper {
      overflow-x: auto;
      width: 100%;
    }

    table {
      width: 800px; /* Set the width of the table to a specific size */
      /* table-layout: fixed; */ /* Prevent the table from resizing based on content */
    }

    @media only screen and (max-width: 767px) {
      /* Apply styles for mobile devices */
      .table-wrapper {
        width: auto; /* Set the width of the wrapper to auto */
      }

      table {
        width: 100%; /* Set the width of the table to 100% */
      }
    }
  </style>
</Layout>
