<div class="vid-container">
<pre>
230320 - transition works well; next time try manipulate element with 'animations'?
170802 - flip the video by swapping between two 'video'
</pre>
  <!-- <video id="vid-1" class="hide" width="400" controls muted autoplay loop>
    <source
      src="http://www.html5videoplayer.net/videos/toystory.mp4"
      type="video/mp4"
    /> Your browser does not support HTML5 video.
  </video> -->

  <video id="vid-2" class="transition_flip" width="400" controls autoplay loop>
    <source
      src="http://techslides.com/demos/sample-videos/small.mp4"
      type="video/mp4"
    /> Your browser does not support HTML5 video.
  </video>

  <video id="vid-3" class="animation_flip" width="400" controls autoplay loop>
    <source
      src="http://techslides.com/demos/sample-videos/small.mp4"
      type="video/mp4"
    /> Your browser does not support HTML5 video.
  </video>

  <button id="animation_flip">Animation Flip</button>

  <button id="transition_flip">transition Flip</button>
</div>

<script is:inline>
  //   var vid1 = document.getElementById("vid-1");
  //   const vid2 = document.getElementById("vid-2");
  //   var flip = document.getElementById("flip");

  /* flip.addEventListener(
    "click",
    function (e) {
      var target = e.target;

      if (vid1.classList.contains("hide")) {
        vid1.classList.remove("hide");
        vid2.classList.add("hide");
        vid1.muted = false;
        vid2.muted = true;
      } else {
        vid2.classList.remove("hide");
        vid1.classList.add("hide");
        vid2.muted = false;
        vid1.muted = true;
      }
    },
    false
  ); */

  const vid2 = document.getElementById("vid-2");
  const transition_flip = document.getElementById("transition_flip");
  transition_flip.addEventListener("click", (e) => {
    vid2.classList.toggle("transition_flip--flip");
  });

  const vid3 = document.getElementById("vid-3");
  const animated_flip = document.getElementById("animation_flip");
  animated_flip.addEventListener("click", (e) => {
    // vid3.classList.toggle("animation_flip");
    vid3.classList.toggle("active");
    // if (vid3.classList.contains("animation_flip")) {
    // }
  });
</script>
<style>
  .transition_flip {
    rotate: 0deg;
    transition: rotate 0.4s ease;
  }
  .transition_flip--flip {
    rotate: 180deg;
  }
  .animation_flip.active {
    animation: animateFlip 0.8s ease 0.1s 1 normal forwards;
  }
  .animation_flip:not(.active) {
    animation: animateFlipBack 0.8s ease 0.1s 1 normal forwards;
  }
  /*   #vid-3:not(.animation_flip) {
    animation: animateFlip 0.8s ease 0.1s 1 reverse forwards;
  }
  .animation_flip--reverse {
    animation: animateFlip 0.8s ease 0.1s 1 reverse forwards;
  } */
  @keyframes animateFlip {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 180deg;
    }
  }
  @keyframes animateFlipBack {
    from {
      rotate: 180deg;
    }
    to {
      rotate: 0deg;
    }
  }
  /*  .vid-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  #vid-1,
  #vid-2 {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #flip {
    position: relative;
  }

  #vid-1 {
    transform: rotateY(180deg), rotateX(180deg);
  }
  .hide {
    visibility: hidden;
  } */
</style>
